/* Use Google Fonts to find new fonts, click plus sign, */
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap');

body {
    font-family: 'Nunito', sans-serif !important;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

/* set up for variables */
:root {
    --main-color: #1ebba3;
    --text-color: #fff;
    --bg-color: #e7e9ed;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);/* transparency */
    z-index: 1; /* neg value pushes element back, pos value brings it forward */
}

/* header .logo {
    float: left;
}

header .logo img {
    width: 140px;
    padding: 1em;
}

header nav {
    float: right;
} */

/* navigation */
.navb{
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    grid-gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.logo {
    display: grid;
    justify-content: start;
    align-content: center;
}

nav {
   display: grid;
   justify-content: right; 
}

nav ul {
    padding-top: 10px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px;
}

nav a {
    padding: 1em;
    color: var(--text-color);
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: var(--main-color);
} 

nav li {
    padding: 5px;
    list-style-type: none;
}

.banner {
    background: url(../Images/images/computers.png);
    width: 100%;
    height: 100vh; /* vh(veiwport height), vw(viewport width) */
    background-size: cover;
}

.content {
    position: relative;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
}

.content h2 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem #000;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.content a {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: .4rem;
}

.content a:hover {
    background: var(--main-color);
}

.about {
    padding: 1rem;
    text-align: center;
}

.features {
    background: var(--bg-color);
    text-align: center;
    padding: 1rem;
    overflow: hidden;
}

.box .show {
    width: 33%;
    padding: 1rem;
    float: left;
    text-align: center;
}

.box .fas, .fab {
    font-size: 2rem;
    color: var(--main-color);
}

.showimage {
    background: url(../Images/apple.png);
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    z-index: -1;
    text-align: center;
}

.dark {
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    color: var(--text-color);
}

footer {
    height: 100px;
    text-align: center;
    line-height: 100px;
    background: var(--main-color);
    color: var(--text-color);
    width: 100%;
}

/* Gallery */
.item img {
    width: 100%;
    height: 100%;
}

.container-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(250, 1fr));
    justify-items: center;
    grid-gap: 20px;
    margin: 0.2em 2em; 
}